.shop {
    width: 230px;
    border: 1px solid #bdbdbd;
    background-color: #ccc;
    user-select: none;
    position: absolute;
    top: 10px;
    left:0;
    right:0;
    margin: 0 auto;
    border-radius: 4px;
}
.shopName {
    background-color: #bdbdbd;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4px 10px;
    margin: 0 auto;
    text-align: center;
    width: 150px;
    margin-bottom: 10px;
}
.shopList {
    text-align: center;
    line-height: 0;
    margin-bottom: 10px;
}
.shopSlot {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 1px;
    position: relative
}
.shopSlot .itemFrame {
    border: 1px solid #000;
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
}
.shopSlot .itemFrame.selected {
    border-color: #d6950a;;
}
.shopItemInfo {
    border-top: 1px solid #2f2022;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
    padding-top: 10px;
}
.shopItemIcon {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}
.shopItemDesc {
    display: inline-block;
    border: 1px solid #999;
    background-color: #8e8e8e2b;
    width: 75%;
    font-size: 13px;
    padding: 5px;
}
.shopItemDesc .name {
    color: #000;
}
.shopItemDesc .stat {
    color: grey;
    font-size: 12px;
}
.shopItemDesc .stat .attr {
    margin-right: 5px;
}
.shopItemDesc .stat .value {
    color: green;
}

.shopItemDesc .price {
    margin-top: 5px;
    color: grey;
    font-size: 12px;
}
.shopItemDesc .price .value {
    color: #000;
}

.shopItemBuy {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffb000c9;
    border-radius: 3px;
    color: #381f06;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.7;
    vertical-align: bottom;
    font-weight: bold;
    cursor: pointer;
}