.chat {
    color: #000;
    border-top: 1px solid #bdbdbd;
    background-color: #ccc;
    position: fixed;
    width: 100%;
    left: 0; 
    bottom: 0;
 
}
.chatTabs {
    position: absolute;
    top: 0;
    right: 20px;
}
.chatTabs .tab {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    color: #454545;
    background-color: #bdbdbd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 5px;
    opacity: .5;
}
.chatTabs .tab.active {
    opacity: 1;
}
.chat .loading {
    background-color: #000;
    width: 100%;
    height: 200px;

}
.chat .inputBox {
    width: 70%;
    padding: 4px;
    display: inline-block;
} 

.chat .input {
    display: block;
    width: 100%;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1;
    color: #000;
    background-color: #fff;
    border: 1px solid #bdbdbd;
}
.chat .buttonBox {
    width: 30%;
    display: inline-block;
} 
.users {
    overflow-y: scroll;
    width: 15%;
    height: 200px;
    display: inline-block;
}
.messages {
    height: 200px;
    width: 85%;
    display: inline-block;
}

.message .date {
    font-size: 11px;
    text-align: center;
    margin-left: 4px;
    margin-right: 7px;
    color: #454545;
    background-color: #00000017;
    border-radius: 3px;
    padding: 1px 5px;
}
.message .username {
    color: green;
    font-weight: bold;
    font-size: 13px;
    margin-right: 5px;
}
.message .system {
    color: #ca8300;
    font-weight: bold;
    font-size: 13px;
    margin-right: 5px;
}
.message .text {
    color: #454545;
    font-size: 13px;
    line-height: 20px;
}
.message .text img {
    vertical-align: middle;
    height: 20px;
}
.users .online {
    text-align: center;
    color: #454545;
    font-size: 15px;
}
.user {
    position: relative;
}
.user .circle {
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    background-color: #0000005e;
    position: absolute;
    top: 9px;
    left: 8px;

}
.user .username {
    color: green;
    font-weight: bold;
    font-size: 13px;
    margin-left: 20px;
    margin-right: 5px;
}
.user .level {
    color: green;
    font-weight: bold;
    font-size: 13px;
}