.map {
    background-color: greenyellow;
    display: inline-block;
    position: absolute;
    right: 0;
}

.map .location {
    position: relative;
}

.map .location .room {
    position: absolute;
}